.coco{
    color: rgb(26, 228, 53);
    background-color: black;
    text-align: right;
}
.ropa{
    color: pink;
    font-size: 18px;

}
.jose{
    padding: 20px;
    text-align: center;

}
.jose-2{
    color: blue;
    margin: 40px;
}
.me-la-como{
    margin: 40px;

}

    
