.coco{
    color: rgb(26, 228, 53);
    background-color: black;
    text-align: right;
}
.ropa{
    color: rgb(53, 24, 107);
    font-size: 18px;
    padding: 28px; background-color: black;
    border: 5px solid rgb(240, 98, 4);

}
.jose{
    padding: 20px; background-color: aquamarine;
    text-align: center;
    font-size: large;


}
.jose-2{
    color: rgb(255, 238, 0);
    font-weight: bold;
    
    padding: 20px; background-color: rgb(1, 26, 26);
    border: 5px solid rgb(71, 222, 233); 

}
.me-la-como{
    color: blue;
    font-size: 50px; 
    padding: 20px; background-color: rgb(219, 95, 6);
    border: 5px solid black
    

}

    
